In [2]:
import pandas as pd 
df = pd.read_parquet("../data_work/loans_merged.parquet")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 20 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   issue_d         datetime64[ns]
 2   issue_q_start   datetime64[us]
 3   loan_amnt       int32
 4   term_m          int16
 5   int_rate        float64
 6   installment     float64
 7   grade           object
 8   sub_grade       object
 9   emp_length      float32
 10  home_ownership  object
 11  annual_inc      float64
 12  purpose         object
 13  dti             float64
 14  fico            int32
 15  target          int32
 16  GDPC1           float64
 17  UNRATE          float64
 18  CPIAUCSL        float64
 19  FEDFUNDS        float64
dtypes: datetime64[ns](1), datetime64[us](1), float32(1), float64(8), int16(1), int32(3), object(5)
memory usage: 297.5+ MB

In [5]:
df.sample(5)

,id,issue_d,issue_q_start,loan_amnt,term_m,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,purpose,dti,fico,target,GDPC1,UNRATE,CPIAUCSL,FEDFUNDS
1214339,492357,2010-05-01,2010-04-01,10000,36,0.1025,323.850006,B,B2,2.0,MORTGAGE,61000.0,house,15.500000,720,0,16743.162,9.633333,217.297333,0.193333
1077678,77381125,2016-04-01,2016-04-01,18000,36,0.1075,587.169983,B,B4,10.0,MORTGAGE,120000.0,home_improvement,34.369999,690,0,19062.709,4.933333,239.590333,0.373333
338414,129685578,2018-03-01,2018-01-01,22000,36,0.0796,689.000000,A,A5,6.0,OWN,24875.0,home_improvement,6.230000,720,0,20044.077,4.033333,249.321667,1.446667
885782,141802293,2018-10-01,2018-10-01,12000,36,0.1447,412.880005,C,C2,NaN,RENT,5500.0,other,72.489998,755,0,20304.874,3.833333,252.711000,2.220000
711141,80760630,2016-05-01,2016-04-01,15575,36,0.1825,565.030029,D,D3,0.5,RENT,41000.0,major_purchase,4.190000,720,0,19062.709,4.933333,239.590333,0.373333

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 20 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   issue_d         datetime64[ns]
 2   issue_q_start   datetime64[us]
 3   loan_amnt       int32
 4   term_m          int16
 5   int_rate        float64
 6   installment     float64
 7   grade           object
 8   sub_grade       object
 9   emp_length      float32
 10  home_ownership  object
 11  annual_inc      float64
 12  purpose         object
 13  dti             float64
 14  fico            int32
 15  target          int32
 16  GDPC1           float64
 17  UNRATE          float64
 18  CPIAUCSL        float64
 19  FEDFUNDS        float64
dtypes: datetime64[ns](1), datetime64[us](1), float32(1), float64(8), int16(1), int32(3), object(5)
memory usage: 297.5+ MB

In [7]:
df.describe()

,issue_d,issue_q_start,loan_amnt,term_m,int_rate,installment,emp_length,annual_inc,dti,fico,target,GDPC1,UNRATE,CPIAUCSL,FEDFUNDS
count,2260668,2260668,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.113761e+06,2.260664e+06,2.258957e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06
mean,2016-05-02 18:48:08.652734464,2016-04-02 22:36:25.770931,1.504693e+04,4.291032e+01,1.309283e-01,4.458068e+02,5.976300e+00,7.799243e+04,1.882420e+01,6.985882e+02,1.191506e-01,1.915752e+04,5.045836e+00,2.415694e+02,7.301737e-01
min,2007-06-01 00:00:00,2007-04-01 00:00:00,5.000000e+02,3.600000e+01,5.310000e-02,4.930000e+00,5.000000e-01,0.000000e+00,-1.000000e+00,6.100000e+02,0.000000e+00,1.626915e+04,3.766667e+00,2.066310e+02,7.333333e-02
25%,2015-04-01 00:00:00,2015-04-01 00:00:00,8.000000e+03,3.600000e+01,9.490000e-02,2.516500e+02,2.000000e+00,4.600000e+04,1.189000e+01,6.750000e+02,0.000000e+00,1.878224e+04,4.166667e+00,2.369600e+02,1.366667e-01
50%,2016-07-01 00:00:00,2016-07-01 00:00:00,1.290000e+04,3.600000e+01,1.262000e-01,3.779900e+02,6.000000e+00,6.500000e+04,1.784000e+01,6.900000e+02,0.000000e+00,1.919794e+04,4.900000e+00,2.406073e+02,3.966667e-01
75%,2017-11-01 00:00:00,2017-10-01 00:00:00,2.000000e+04,6.000000e+01,1.599000e-01,5.933200e+02,1.000000e+01,9.300000e+04,2.449000e+01,7.150000e+02,0.000000e+00,1.988235e+04,5.433333e+00,2.472383e+02,1.203333e+00
max,2018-12-01 00:00:00,2018-10-01 00:00:00,4.000000e+04,6.000000e+01,3.099000e-01,1.719830e+03,1.000000e+01,1.100000e+08,9.990000e+02,8.450000e+02,1.000000e+00,2.030487e+04,9.933333e+00,2.527110e+02,5.250000e+00
std,NaN,NaN,9.190245e+03,1.086716e+01,4.832138e-02,2.671735e+02,3.650659e+00,1.126962e+05,1.418333e+01,3.301038e+01,3.239657e-01,8.178469e+02,1.168894e+00,6.833943e+00,6.998979e-01